*{
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	line-height: 1.8em;
	color: #FFFFFF;
}

#left{
	position: fixed;
	text-align: center;
	background-color: #666;
	float: left;
	width: 10%;
}

#leftselect{
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 35%;
	width: 100%;
	height: 20%;
}

.select{
	font-size: 20px;
	color: white;
}

/* 背景图片 */

#footer{
	background-image: url(../imgs/footer.jpg);
}

#jianli{
	background-image: url(../imgs/jianli.jpg);
	background-position: center;
}
#page1{
	background-image: url(../imgs/page1.jpg);
}

#page2{
	background-image: url(../imgs/page22.jpg);
}

#page3{
	background-image: url(../imgs/page3.jpg);
}

#page4{
	background-image: url(../imgs/page4.jpg);
}

#page5{
	background-image: url(../imgs/page5.jpg);
}

#page6{
	background-image: url(../imgs/page6.jpg);
}

.text,.hello,#footer{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	float: right;
	width: 90%;
}

/* 字体颜色 */
#page1 td,#page2 td,#page3 p,#page4 td,#page5 p,#page6 p{
	color: black;
}


.bar{
	position: relative;
	width: 90%;
	height: 100px;
	background-color: #666;
	float: right;
}

#hello,#thanks{
	position: absolute;
	top: 25%;
	left: 30%;
	height: 40%;
	width: 40%;
	text-align: center;
	font-size: 200px;
	
	line-height: 1.4em;
}

#thanks{
	line-height: 1.7em;
}

#hello p{
	font-size: 100px;
	line-height: 0px;
}

/* #jibenxinxi,#jiaoyubeijing,#xiaoyuanjingli,
#shixijingli,#jinengzhengshu,#ziwopingjia{
	height: 60%;
} */

.neirong{
	/* csdn 模糊 */
	/* border-bottom: 1px solid;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(255, 255, 255, 0.2); */
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#jibenxinxi{
	position: absolute;
	width: 70%;
	height: 70%;
	top: 15%;
	left: 15%;
}

table td{
	font-size: 25px;
	height: 80px;
}

#myphoto{
	position: absolute;
	background-image: url(../imgs/zhu.jpg);
	height: 80%;
	width: 30%;
	top: 10%;
	left: 7%;
	background-position: center;
	box-shadow: 0 5px 10px;
}

#jiaoyubeijing,#ziwopingjia,#shixijingli,#jinengzhengshu,#xiaoyuanjingli{
	position: absolute;
	width: 70%;
	height: 70%;
	top: 12%;
	left: 15%;
	
	padding: 30px;
}
#jiaoyubeijing table,#shixijingli table{
	height: 70%;
}

#xiaoyuanjingli p{
	position: absolute;
	top: 30%;
	left: 20%;
	font-size: 30px;
}

#jinengzhengshu p{
	font-size: 22px;
}

#ziwopingjia p{
	position: absolute;
	top: 30%;
	font-size: 30px;
	padding: 20px;
}

#left table tr th:hover{
	background-color: deepskyblue;
}

#thanks{
	color: white;
}