*{
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	line-height: 1.8em;
	color:#666;
}

#left{
	position: fixed;
	text-align: center;
	background-color: #666;
	float: left;
	width: 10%;
}
#left div{
	height: 16.7%;
	width: 100%;
	text-align: center;
	border: 1px dashed #FFFFFF;
}

#left div p{
	padding-top: 15px;
	font-size: 30px;
	color: aliceblue;
}

/* 背景图片 */
.text,.hello,#footer{
	position: relative;
	background-image: url(../imgs/main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	float: right;
	width: 90%;
}

.bar{
	position: relative;
	width: 90%;
	height: 100px;
	background-color: #666;
	float: right;
}

#hello{
	position: absolute;
	top: 25%;
	left: 30%;
	height: 40%;
	width: 40%;
	text-align: center;
	font-size: 200px;
	
	line-height: 1.4em;
}

#hello p{
	font-size: 100px;
	line-height: 0px;
}

/* #jibenxinxi,#jiaoyubeijing,#xiaoyuanjingli,
#shixijingli,#jinengzhengshu,#ziwopingjia{
	height: 60%;
} */

.neirong{
	/* csdn 模糊 */
	/* border-bottom: 1px solid;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(255, 255, 255, 0.2); */
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#jibenxinxi{
	position: absolute;
	width: 70%;
	height: 70%;
	top: 15%;
	left: 15%;
}

table td{
	color: black;
	font-size: 25px;
	height: 80px;
}
